@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.About>
    @{
    Layout = "Master.cshtml";
    }
    
    @Html.Partial("~/Views/Partials/pageHeader.cshtml")

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.GetGridHtml(Model, "mainContent", "Clean")
            </div>
        </div>
    </div>
